<div class="navbar">
    <div class="mobile">
        <h1 class="name">Adrien Colombier</h1>
        <mat-icon class="menu-icon">menu</mat-icon>
    </div>
    <div class="desktop">
        <h1 class="name">Adrien Colombier</h1>
        <div class="button-container">
            <div class="nav-button">HOME</div>
            <div class="nav-button">ABOUT</div>
            <div class="nav-button">PROJECTS</div>
            <div class="nav-button">EDUCATION</div>
            <div class="nav-button">CONTACT</div>
        </div>
    </div>
</div>