.absolute {
    position: absolute;
    z-index: 2;
}

.languages {
    position: fixed;
    bottom: 16px;
    color: #FFF;
    right: 26px;
    display: flex;
}

.language {
    margin-left: 16px;
    cursor: pointer;
    color: #FFF;
    transition: color 0.3s;
}

.language:hover {
    color: #ff4655;
    transition: color 0.3s;
}

.networks {
    position: fixed;
    left: 32px;
    height: 100%;
    margin: auto;
    margin-top: 48px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.network {
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 100%;
}

.network:hover {
    opacity: 0.5;
    transition: all 0.3s;
}

.top-bar {
    position: fixed;
    height: 30%;
    width: 1px;
    background: #FFF;
    margin-left: 48px;
    margin-top: 96px;
}

.bottom-bar {
    position: fixed;
    height: 30%;
    width: 1px;
    background: #FFF;
    margin-left: 48px;
    bottom: 0;
}