<div class="absolute">
    <div class="languages">
        <div class="language">ENGLISH</div>
        <div class="language">FRANCAIS</div>
    </div>
    <div class="top-bar"></div>
    <div class="networks">
        <img class="network" src="assets/images/linkedin.png" />
        <img class="network" src="assets/images/instagram.png" />
        <img class="network" src="assets/images/gitlab.png" />
        <img class="network" src="assets/images/facebook.png" />
    </div>
    <div class="bottom-bar"></div>
</div>
